*{

    margin: 0;
    padding: 0;
}

#container{

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    font-family:'Times New Roman', Times, serif;
    
}
#lupa img{

    align-items: left;
    height: 30px;
    width: 30px;
    display: block;
    margin: -55px ;
    margin-top: 10px;
    margin-bottom: -30px;
    margin-left: 10px;
}
nav{

    text-align: right;
    padding: 30px;
    background-color: white;
    position: sticky;
    top: 0;
   z-index: 10;
    
    
}

nav ul li{

    display: inline-block;
    margin: 10px;
    
    
    
}
nav ul li a{

    text-decoration: none;
    color:black;
    position: relative;
    width: 100%;
    
    
}

.menu-icon img{

    width: 30px;
    height: 30px;
    border-radius: 2px;

    
}
.menu-icon, #check{
    display: none;
}

nav ul li a::before, nav ul li a::after{
    content: '';
    
    border-bottom: 2px solid rgba(171, 142, 105);
    position: absolute;
    opacity: 0;
    transition: 0.3s;

}
nav ul li a::before{

    width: 90%;
    bottom: -5px;
    right: 0;

}
nav ul li a::after{

    width: 60%;
    bottom: -10px;
    left: 0;
}

nav ul li a.actiu::before,
nav ul li a:hover::before{

    opacity: 1;
    width: 70%;
    

}
nav ul li a.actiu::after,
nav ul li a:hover::after{

    opacity: 1;
    width: 40%;
    
}


#capçalera{

    padding: 200px;
    font-size: 4em;
    background-image:linear-gradient(rgba(171, 142, 105, 0.7), rgba(206,175,134,0.7)),url(imatges/instrument2.webp);
    background-size: cover;
    background-position: 10px;
    color: white;
    text-align: center;

}

#intro h2{

    padding-top: 60px;
    padding-bottom: 20px;
    font-size: 2em;
    text-align: center;
}

#intro p{

    padding: 20px;
    padding-left: 160px;
    padding-right: 160px;
    padding-bottom: 80px;
    text-align: justify;
    line-height: 1.5;
    margin-left: 80px;
    margin-right: 80px;
    
    
}



#instruments h2{

    
   padding-top: -50px;
    padding-left: 600px;
    padding-right: 100px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: left;
}

#instruments aside p{

    padding: 20px;
    padding-left: 600px;
    padding-right: 160px;
    padding-bottom: 80px;
    text-align: justify;
    line-height: 1.5;
    margin-left: 80px;
    margin-right: 80px;
    float: right;
    
    

}

#instruments aside img{

    width: 350px;
    height: 200px;
    float: left;
    padding-left: 250px;
    margin-top: -280px;
                


}

#instruments aside:nth-of-type(2) p{

    float: left;
    padding-left: 290px;
    margin-top: -90px;
    text-align: center;
    color: rgb(109, 108, 108);


}

#pigments{

    float: left;
}

#pigments h2{


    padding: 20px;
    padding-left: 160px;
    padding-right: 100px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: -60px;
    
    

}

#pigments p{

    padding: 20px;
    padding-left: 160px;
    padding-right: 100px;
    margin-left: 80px;
    margin-right: 600px;
    text-align: justify;
    line-height: 1.5;
    margin-top: -15px;


}

#pigments aside img{

    width: 350px;
    height: 200px;
    float: right;
    padding: 20px;
    padding-left: 100px;
    padding-right: 160px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: -260px;
   
    
    
}

#pigments aside:nth-of-type(2) p{

    float: right;
    margin-right: 250px;
    margin-top: -50px;
    color: rgb(109, 108, 108);

}

#suports{

    float: right;
}

#suports h2{


    padding: 20px;
    padding-left: 600px;
    padding-right: 100px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 0px;
    
    
}

#suports p{

    padding: 20px;
    padding-left: 600px;
    padding-right: 160px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: justify;
    line-height: 1.5;
    margin-top: -15px;


}

#suports aside img{

    width: 350px;
    height: 200px;
    float: left;
    padding-left: 250px;
    margin-top: -230px;
    margin-bottom: 100px;
   
    
    
}

footer{

    background-color:rgba(171, 142, 105, 0.7) ;
}
footer .contacte{

  
    display: inline-block;
    width: 33%;
    text-align: center;
}
footer .contacte p{

    
    text-align: center;
    margin-bottom: 20px;
    
    
    
}
footer .contacte img{

    width: 30px;
    height: 30px;
    margin: 20px;
}

footer p{

text-align: center;
padding-bottom: 20px;

}

/*LAYOUT*/

#container{

    display: flex;

}

nav{

    flex: 1 100%;
    order:1;
}


header{


    flex: 1 100%;
    order: 1;

}

main{

    flex: 1 100%;
    order: 2;
}

footer{

    flex: 1 100%;
    order: 3;
}

@media (max-width: 1150px) {
    
    #container {
        flex-direction: column;
    }
   
    #lupa img {
        padding-left: 20px;
        margin-bottom: 8px;
    }
    .checkbtn {

        display: block;
    }
    .menu-icon{

        display: block;
        position: fixed;
        top:40px;
        right: 40px;
        cursor: pointer;
    }
     ul{

        display: block;
        position:fixed;
        top: 100px;
        right: 0;
        background-color:rgba(255, 255, 255, 0.5);
        width: 20%;
        bottom: 0;
        text-align: center;
    }


    header ul li{

        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0; 
    
    }

    nav ul li{

        display: inline-block;
        margin: 30px 30px; 
        
    }


    #check:checked ~ ul{

        right: -100%;
        transition: all 1s linear;

    }

    #capçalera {
        padding: 100px;
        font-size: 2.8em;
    }

    
    #intro h2, #intro p {
        padding-left: 20px;
        padding-right: 20px;
    }


    #instruments h2{

    
        margin-top: -20px;
         padding-top: -40px;
         padding-left: 350px;
         padding-right: 100px;
         margin-left: 80px;
         margin-right: 80px;
         text-align: left;
     }
     
     #instruments aside p{
     
         padding: 20px;
         padding-left: 350px;
         padding-right: 20px;
         padding-bottom: 70px;
         text-align: justify;
         line-height: 1.5;
         margin-left: 80px;
         margin-right: 80px;
         float: right;
         
         
     
     }
     
     #instruments aside img{
     
         width: 300px;
         height: 150px;
         float: left;
         padding-left: 100px;
         margin-top: -230px;
                     
     
     
     }
     
     #instruments aside:nth-of-type(2) p{
     
         float: left;
         padding-left: 125px;
         margin-top: -90px;
         text-align: center;
         color: rgb(109, 108, 108);
     
     
     }


     #pigments h2{


        margin-top: -50px;
        padding-top: -50px;
        padding-left: 20px;
        padding-right: 100px;
        margin-left: 80px;
        margin-right: 80px;
        margin-bottom: 20px;
        
        
        
    
    }
    
    #pigments p{
    
        padding: 20px;
        padding-left: 20px;
        padding-right: 100px;
        margin-left: 80px;
        margin-right: 380px;
        text-align: justify;
        line-height: 1.5;
        margin-top: -40px;
        
        
    
    
    }
    
    #pigments aside img{
    
        width: 300px;
        height: 150px;
        float: right;
        padding: 20px;
        padding-left: 100px;
        padding-right: 20px;
        margin-left: 80px;
        margin-right: 80px;
        margin-top: -200px;
        margin-bottom: 40px;
        
        
    }
    
    #pigments aside:nth-of-type(2) p{
    
        float: right;
        text-align: center;
        color: rgb(109, 108, 108);
        margin-right: -490px;
        margin-top: -40px;
       
        
    
    
    }


    #suports h2{

    
        margin-top: -20px;
         padding-top: -40px;
         padding-left: 350px;
         padding-right: 100px;
         margin-left: 80px;
         margin-right: 80px;
         text-align: left;
     }
     
     #suports aside p{
     
         padding: 20px;
         padding-left: 350px;
         padding-right: 20px;
         padding-bottom: 70px;
         text-align: justify;
         line-height: 1.5;
         margin-left: 80px;
         margin-right: 80px;
         float: right;
         
         
     
     }
     
     #suports aside img{
     
         width: 300px;
         height: 150px;
         float: left;
         padding-left: 100px;
         margin-top: -230px;
                     
     
     
     }
     
     #suports aside:nth-of-type(2) p{
     
         float: left;
         margin-top: -90px;
         margin-left: -155px;
         text-align: center;
         color: rgb(109, 108, 108);
     
     
     }

    footer .contacte p{

    
        text-align: center;
        margin-bottom: 0;
        padding: 0;
        
        
    }
    footer .contacte img{
    
        width: 30px;
        height: 30px;
        margin: 10px;
        padding-top: 10px;
    }
    
    footer p{
    
    text-align: center;
    padding-top: 40px;
    padding-bottom: 0;
    
    
    }


    
}

@media (max-width: 800px) {

    ul{

        display: block;
        position:fixed;
        top: 100px;
        right: 0;
        background-color:rgba(255, 255, 255, 0.5);
        width: 30%;
        bottom: 0;
        text-align: center;
    }


    header ul li{

        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0; 
    
    }
    
    nav ul li{

        display: inline-block;
        margin: 30px 30px; 
        
    }

    #capçalera {

        font-size: 2em;
        text-align: center;
       
        
    }

    #intro h2, #intro p {
        padding-left: 20px;
        padding-right: 20px;
    }

    #instruments h2 {
        margin-top: -30px;
        padding-top: -50px;
        padding-left: 20px; 
        padding-right: 20px; 
        text-align: left;
    }

    #instruments aside p {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
        float: none; 
        margin-left: 80px;
        margin-right: 80px;
    }

    #instruments aside img {
        width: 380px; 
        height: auto; 
        float: none; 
        margin-top: 0; 
        padding-left: 20px;
        padding-right: 20px; 
        margin-left: auto; 
        margin-right: auto; 
        display: block; 
        margin-bottom: 40px;
    }

    #instruments aside:nth-of-type(2) p {
        float: none; 
        text-align: center; 
        margin-top: -15px; 
        color: rgb(109, 108, 108);
        margin-left: auto; 
        margin-right: auto; 
        display: block;
        padding-left: 25px; 

    }

    #pigments h2 {
        margin-top: -30px;
        padding-top: -50px;
        padding-left: 20px; 
        padding-right: 20px; 
        text-align: left;
    }

    #pigments aside p {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
        float: none; 
        margin-left: 80px;
        margin-right: 80px;
    }

    #pigments aside img {
        width: 380px; 
        height: auto; 
        float: none;
        margin-top: -20px; 
        padding-left: 20px;
        padding-right: 20px; 
        margin-left: auto; 
        margin-right: auto; 
        display: block; 
    }

    #pigments aside:nth-of-type(2) p {
        float: none; 
        text-align: center; 
        margin-top: -75px; 
        color: rgb(109, 108, 108);
        margin-left: auto; 
        margin-right: auto; 
        display: block;
        padding-left: 25px; 
    }

    #suports h2 {
        margin-top: -30px;
        padding-top: -50px;
        padding-left: 20px; 
        padding-right: 20px; 
        text-align: left;
    }

    #suports aside p {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
        float: none; 
        margin-left: 80px;
        margin-right: 80px;
    }

    #suports aside img {
        width: 380px; 
        height: auto; 
        float: none; 
        margin-top: 0; 
        padding-left: 20px;
        padding-right: 20px; 
        margin-left: auto; 
        margin-right: auto; 
        display: block; 
        margin-bottom: 60px;
    }

    #suports aside:nth-of-type(2) p {
        float: none; 
        text-align: center; 
        margin-top: -15px; 
        color: rgb(109, 108, 108);
        margin-left: auto; 
        margin-right: auto; 
        display: block;
        padding-left: 25px; 
    }

    footer .contacte p{

    
        text-align: center;
        font-size:0.90em;
        margin-bottom: 0;
        padding: 0;
        
        
    }
    footer .contacte img{
    
        width: 25px;
        height: 25px;
        margin: 5px;
        padding-top: 10px;
    }

    footer .contacte{


        width: 32%;
    }


}